<html>
<head>
    <title>Graduate School USA</title>
</head>
<body>
    #parse("templates/headerHtmlTemplate.vm")
    <p>Thank you for setting up an account with the Graduate School. We hope that it makes it easy to manage your learning with us.</p>

    <p>You can login to access your account at anytime at <a href="$accountPage">$accountPage</a></p>

    <p>You can update your account information by using the 'My Account' feature. The security of your account information is important to us - please review our privacy policy <a href="$privacyPolicy">here</a>.</p>

    <p>We look forward to serving your learning needs. Please be sure to save this email for future reference.</p>

    <p>
        Thank you! <br />
        Graduate School USA
    </p>
</body>