<html>
<head>
    <title>Graduate School USA</title>
</head>
<body>
    #parse("templates/headerHtmlTemplate.vm")
    <p>This receipt is for a credit card transaction with the Graduate School USA as described below in ORDER INFORMATION. Please note that the Total Amount Charged on this credit card may be less than the Order Total if the payment included multiple payments (e.g., more than one credit card, check and credit card, etc.)</p>
    <h3>PAYMENT INFORMATION</h3>
    <hr />
    <table>
        <tr>
            <th>Total Amount Charged:</th> <td>$totalCharged</td>
        </tr>
        <tr>
            <th>Transaction Date:</th> <td>$transactionDate</td>
        </tr>
        <tr>
            <th>Order Number: </th> <td>$orderId</td>
        </tr>
        #set($count = 1)
        #foreach($payment in $payments)
            #if($payments.size() > 1)
                <tr>
                    <th colspan="2"> Payment $count </th>
                </tr>
            #end
            <tr>
                <th>Credit Card Type:</th> <td>$payment.cardType</td>
            </tr>
            <tr>
                <th>Cardholder's Name:</th> <td>$payment.cardHolderName</td>
            </tr>
            <tr>
                <th>Cardholder's Email:</th> <td>$payment.cardEmail</td>
            </tr>
            <tr>
                <th>Card Number:</th> <td>$payment.cardNumber</td>
            </tr>
            <tr>
                <th>Authorization Code:</th> <td>$payment.authCode</td>
            </tr>
            #set( $count = $count + 1 )
        #end
    </table>

    <h3>ORDER INFORMATION</h3>
    <hr />
    <table>
        #set($count = 1)
        #foreach($registration  in $registrations)
            #if($registrations.size() > 1)
                <tr>
                    <th colspan="2"> Registration $count </th>
                </tr>
            #end
            <tr>
                <th>Student Name:</th> <td>$registration.studentName</td>
            </tr>
            <tr>
                <th>Tuition:</th> <td>$registration.tuition</td>
            </tr>
            <tr>
                <th>Registration Status:</th> <td>$registration.status</td>
            </tr>
            <tr>
                <th>Course Title:</th> <td>$registration.title</td>
            </tr>
            <tr>
                <th>Course Code:</th> <td>$registration.code</td>
            </tr>
            <tr>
                <th>Class ID:</th> <td>$registration.classId</td>
            </tr>
            #if($registration.location)
                <tr>
                    <th>Location:</th> <td>$registration.location</td>
                </tr>
            #end
            #if($registration.dates || $registration.times || $registration.days)
            <tr>
                <th>Date(s):</th>
                <td>
                    #if($registration.dates)
                    $registration.dates <br/>
                    #end
                    #if($registration.times)
                        $registration.times
                    #end
                    #if($registration.days)
                        ,$registration.days
                    #end
                </td>
            </tr>
            #end
            <tr>
                <th>Email:</th> <td>$registration.email</td>
            </tr>
            #set( $count = $count + 1 )
        #end
    </table>
    <p>
        Thank you! <br />
        Graduate School USA
    </p>
</body>