#parse("templates/email/partials/emailTemplateTop_text.vm")
## start email specific content
The password reset that you requested for the account with username '$username' has been completed, the temporary password is '$newPassword'. You can access your account at anytime by logging into the Graduate School USA website at $userLoginPage.

Should you need assistance, contact our Customer Support Center at (866) 724-GRAD available to help you 7:30 a.m. - 6:00 p.m. Eastern time, Monday - Friday or e-mail us at customersupport@graduateschool.edu.
## end email specific content
#parse("templates/email/partials/emailTemplateBottom_text.vm")