#parse("templates/email/partials/emailTemplateTop_text.vm")
## start email specific content
This receipt is for a credit card transaction with the Graduate School USA as described below in ORDER INFORMATION.
Please note that the Total Amount Charged on this credit card may be less than the Order Total if the payment included
multiple payments (e.g., more than one credit card, check and credit card, etc.)
 
PAYMENT INFORMATION
--------------------
Total Amount Charged:   $totalCharged
Transaction Date:       $transactionDate
Order Number:           $orderId
#set($count = 1)
#foreach($payment in $payments)
#if($registrations.size() > 1)
     Payment $count
#end
Credit Card Type:       $payment.cardType
Cardholder's Name:      $payment.cardHolderName
Cardholder's Email:     $payment.cardEmail
Card Number:            $payment.cardNumber
Authorization Code:     $payment.authCode
#set( $count = $count + 1 )
#end

ORDER INFORMATION
-----------------
#set($count = 1)
#foreach($registration  in $registrations)
#if($registrations.size() > 1)
     Registration $count
#end
Student Name:          $registration.studentName
Tuition:               $registration.tuition
Registration Status:   $registration.status
Course Title:          $registration.title
Course Code:           $registration.code
Class ID:              $registration.classId
#if($registration.location)
Location:              $registration.location
#end
#if($registration.dates || $registration.times || $registration.days)
Date(s):               #if($registration.dates)$registration.dates#if($registration.times), $registration.times#end#if($registration.days), $registration.days #end #end
#end

Email:                 $registration.email
#set( $count = $count + 1 )
#end
## end email specific content
#parse("templates/email/partials/emailTemplateBottom_text.vm")